*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body{
    background-color: #121214;
    
}


.bir{
    display: flex;
    gap: 30px;
    width: 618px;
    height: 30px;
    opacity: 1;


}


.header{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;

}


a{
    gap: 20px;
    width: 492px;
    opacity: 1;
    height: 20px;
    

}


.chiziq{
    display: flex;
    width: 1095;
    top: 17px;
    left: 20px;
    gap: 382px;
    opacity: 1;
    height: 35px;
    
}


.kul{
    font-family: Roboto;
    font-style: Regular;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    font-weight: 400;
    color: #A6A8AD;
    gap: 20px;

}


.sign{
    width: 125px;
    gap: 10px;
    opacity: 1;
    border-radius: 32px;
    border-width: 1px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: black;

}


.tugma{
    width: 100px;
    gap: 20px;
    opacity: 1;
    height: 35px;
    margin-left: 325px;
}



.urta{
    background-image: url(./IMAGE\ \(1\).png);
    width: 1520px;
    top: 71px;
    opacity: 1;
    height: 744px;
    margin-top: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    color: #FFFFFF;
}


.oq{
    font-family: Roboto;
    font-style: Regular;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: 1.08px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 190px;
    margin-left: 50px;
}


.kichik{
    width: 412px;
    top: 499px;
    left: 48px;
    opacity: 1;
    height: 48px;
    margin-left: 50px;
    margin-top: 30px;
}


.p{
    font-family: Roboto;
    font-style: Regular;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    font-weight: 400;
    
}


.try{
    width: 125px;
    top: 591px;
    left: 48px;
    opacity: 1;
    border-radius: 8px;
    height: 56px;
    background: #0033FF;
    margin-top: 50px;
    margin-left: 50px;

}


.haq{
    color: #FFFFFF;
    margin-top: 830px;

}


.rasm{
    display: flex;
}


.h{
    text-align: center;

}


.cat{
    margin-left: 50px;
    margin-top: 210px;
    font-family: Roboto;
    font-style: Regular;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0%;
    font-weight: 400;
    
}


.oo{
    width: 374px;
    top: 1132px;
    left: 48px;
    opacity: 1;
    height: 48px;
    font-family: Roboto;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 15px;
}


.ss{
    width: 159px;
    height: 36px;
    top: 1198px;
    left: 48px;
    opacity: 1;
    border-radius: 8px;
    background: #0033FF;
    margin-top: 20px;
    font-family: Roboto;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    font-weight: 400;


}


.tur{
    margin-left: 575px;
    margin-top: 125px;

}